<form class="form add-by-vin-form">
  <div class="mb-3">
    <label for="driver-name" class="form-label">Driver Name/Alias</label>
    <input type="text" class="form-control" id="driver-name" name="driver-name"required>
  </div>
  <div class="mb-3">
    <label for="vin" class="form-label" id="Vin">Vin</label> <!-- -->
    <input type="text" class="form-control" id="vin" name="vin"required>
  </div>
  <div class="mb-3">
    <label for="mileage" class="form-label">(Optional)Mileage</label>
    <input type="text" class="form-control" id="mileage" name="mileage">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<form class="form add-by-make-model-form">
  <div class="mb-3">
    <label for="driver-name" class="form-label">Driver Name/Alias</label>
    <input type="text" class="form-control" id="driver-name" name="driver-name" required>
  </div>
  <div class="mb-3">
    <label for="make" class="form-label">Make</label>
    <input type="text" class="form-control" id="make" name="make" required>
  </div>
  <div class="mb-3">
    <label for="model" class="form-label">Model</label>
    <input type="text" class="form-control" id="model" name="model" required>
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input type="text" class="form-control" id="year" name="year" required>
  </div>
  <div class="mb-3">
    <label for="mileage" class="form-label">(Optional)Mileage</label>
    <input type="text" class="form-control" id="mileage" name="mileage">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<script src="/js/addVehicle.js"></script>
{{!-- <link rel="stylesheet" href="css/style.css"> --}}
