{{#if logged_in}}
<div class="sidenav">
  <a href="/vinForm">Add new vehicle</a>
  <section class="container">
    <section class="flex-row justify-center">
    {{#each vehicles as |vehicle|}}
    <h4><a href="/singleVehicle/{{vehicle.id}}">{{vehicle.make}}</a></h4>
      {{> vehiclecards vehicle}}
    {{/each}}
    </section>
  </section>
</div>
{{/if}}