<section>
  <div class="sidenav">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">My Vehicles</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="/addVehicle">Add a Vehicle</a>
          {{#each vehicles as |vehicle|}}
           <a href="#">{{vehicle.make}} {{vehicle.model}} {{vehicle.year}}</a>
          {{/each}}
        </div>
      </div>
  </div>
  <section class="containerCard">
    <section class="flex-column cardSec">
      {{#each vehicles as |vehicle|}}
        {{> vehiclecards vehicle}}
      {{/each}}
    </section>
  </section>
    
    <link rel="stylesheet" href="css/style.css">
  {{!-- <link rel="stylesheet" href="css/homepage.css"> --}}
</section>