<<<<<<< HEAD
<body class="body" style="background-color: slategray;">

<div class="row" style="">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form" style="background: lightgray; color:black; padding: 10px">
      <div class="form-group">
=======
<body class="body" >

<div class="row" id="accContainer">
  
  <div class="col-md-6" id="login-con">
    

    <form class="form login-form" id="form-l" style="background: lightgray; color:black; padding: 10px">
      <h2>Login</h2>
      <div class="form-group1">
>>>>>>> aca4e02240a7fe1def1c00a5ff154fd5800f8f53
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" name="email-login" required/>
      </div>
      <div class="form-group1">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" name="password-login" required/>
      </div>
      <div class="form-group1">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6" id="signup-con">

<<<<<<< HEAD
    <form class="form signup-form" style="background: lightgray; color:black; padding: 10px">
      <div class="form-group">
=======
    <form class="form signup-form">
      <h2>Signup</h2>
      <div class="form-group2">
>>>>>>> aca4e02240a7fe1def1c00a5ff154fd5800f8f53
        <label for="username-signup">Name:</label>
        <input class="form-input" type="text" id="username-signup" name="username-signup" required/>
      </div>
      <div class="form-group2">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" name="email-signup" required/>
      </div>
      <div class="form-group2">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" name="password-signup" required/>
      </div>
      <div class="form-group2">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<<<<<<< HEAD
<script src="/js/log.js" type="text/javascript"></script>
</body>
=======
{{!-- <link rel="stylesheet" href="css/style.css"> --}}
<script src="/js/log.js"></script>
</body>
>>>>>>> aca4e02240a7fe1def1c00a5ff154fd5800f8f53
