<form class="new-vehicle-form">
  <div class="mb-3">
    <label for="ymm-driver-name" class="form-label">Driver Name/Alias: </label>
    <input type="text" class="form-control" id="driver-name">
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year: </label>
    <input type="text" class="form-control" id="vehicle-year" required> 
  </div>
  <div class="mb-3">
    <label for="make" class="form-label">Make: </label>
    <input type="text" class="form-control" id="vehicle-make" required>
  </div>
  <div class="mb-3">
    <label for="model" class="form-label">*Model: </label>
    <input type="text" class="form-control" id="vehicle-model" required>
  </div>
  <div class="mb-3">
    <label for="mileage" class="form-label">Mileage: </label>
    <input type="text" class="form-control" id="vehicle-mileage">
  </div>
  <div class="mb-3">
    <label for="notes" class="form-label">Add'l Notes: </label>
    <input type="text" class="form-control" id="vehicle-notes">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
<script src="/public/js/vinForm.js" type="text/javascript"></script>