:root {
  --primary: #395792f5;
  --secondary:  #554522;
  --tertiary: #463737;
  /* --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);*/
  --delete: red;
  --border-radius: 0.3rem; 
}

.cardSec {
  display: flex;
  justify-content: center;
  align-items: right;
  background-color: white;
  margin-left: 300px;
  width: 25%;
  padding: 10px;
}

  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary);
    overflow-x: hidden;
    margin-top: 75px;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    /*background-color: #ddd;*/
    background-color: red;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 200px;
    padding-left: 20px;
  }

/* Dropdown Button */
.dropbtn {
  background-color: #7e7e7e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width:300px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #7e7e7e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.vehicleItem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* gap: 48%; */
}

h4 {
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

#delete {
  border-radius: var(--border-radius);
  background-color: var(--delete);
  align-self: right;
}